{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <h1 class="text-center m-3">La liste de Pokemons</h1>
        <p class="text-justify m-5">
            " Une génération est un regroupement de jeux Pokémon qui les sépare en fonction des Pokémon qu'ils incluent.
            À chaque génération, un nouvel ensemble de Pokémon, de mouvements, de capacités et de types qui n'existaient 
            pas dans la génération précédente est publié. "
        </p>
    
        <div class="col-10 d-flex justify-content-center">
            <div class="col-2 bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Par nom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Par type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Par génération</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Par numéros</a>
                    </li>
                </ul>
            </div>
            <div class="col-8 bg-secondary">
                <div class="card card-body">
                    {% for result in data.results %}
                        <button type="button" class="btn btn-outline-info m-2">
                            <a href="{{ path('name', { 'name' : result.name })}}" class="text-center text-decoration-none text-dark" style="width: 12rem;">{{result.name}}</a>
                        </button>
                    {% endfor %}
                </div>
                <div class="card card-body">  
                    {% for result in type.results %}
                        <button type="button" class="btn btn-outline-info m-2">
                            <a href="" class="text-center text-decoration-none text-dark" style="width: 12rem;">{{result.name}}</a>
                        </button>         
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}