{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
    <h1 class="text-center m-3">Type</h1>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Tous les pokemons de ce type : </h5>
                <p class="card-text">Type de pokemon</p>
            </div>
        </div>   
    </div>
{% endblock %}